<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dogs Fur Days</title>
        <meta name="description" content="ITIS 4166 Project">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
    </head>
<body>

    <ul class="userul">
        <a href="/">
        <img class="logo" src="/images/logo.png" alt="Logo">
        </a>
        <li class="userli"><a class="userlia" href="/events/new">Start a New Connection</a></li>
        <li class="userli"><a class="userlia" href="/events/login">Login</a></li>
        <li class="userli"><a class="userlia" href="/events/signup">Sign Up</a></li>
    </ul>
    <ul class="userul">
        <li class="userli"><a class="userlia" href="/events">Connections</a></li>
    </ul>

</body>