<%- include('./partials/header.ejs')%>

<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <h1>About Us</h1>
    <p><br>Dogs Fur Days is a website where people can interact with dogs! Want to take your dog to
    meet other dogs? We have dog meet events! Don't have a dog, but desperately want a cute companion?
    We have adoption events as well!</p>
    <p><br>Check out our Connections page in order to see connection events!</p>
    <%- include('./partials/footer.ejs')%>