<%- include('./partials/header.ejs')%>

<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <h1>Contact Us</h1>
    <p><br>Address - Bacon Maple Road, Rutherfordton, NC, 28139</p>
    <p><br>Phone - (828) 123-1234</p>
    <%- include('./partials/footer.ejs')%>